div.owlient {
	position: relative;
	width: 203px;
	height: 189px;
}
div.owlient div {
	position: absolute;
	background-color: #fff;
}

div.owlient .ears {
	top: 23px;
	width: 183px;
	height: 93px;
	border-radius: 100px;
	border: 10px #848677 solid;
	z-index: 1;
}

div.owlient .head {
	left: 22px;
	width: 139px;
	height: 139px;
	border-radius: 139px;
	border: 10px #848677 solid;
	z-index: 2;
}

div.owlient .mouth {
	position: relative;
	top: 70px;
	left: 42px;
	width: 99px;
	height: 99px;
	border-radius: 99px;
	border: 10px #848677 solid;
	background-color: transparent;
	overflow: hidden;
	z-index: 3;
}

div.owlient .smile {
	position: absolute;
	top: -80px;
	left: -30px;
	width: 139px;
	height: 139px;
	border-radius: 139px;
	border: 10px #820e23 solid;
	background-color: transparent;
}